@font-face {
  font-family: "iconfont"; /* Project id 3952687 */
  src: url('iconfont.woff2?t=1678806033150') format('woff2'),
       url('iconfont.woff?t=1678806033150') format('woff'),
       url('iconfont.ttf?t=1678806033150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag-fill:before {
  content: "\e872";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-question:before {
  content: "\e7fe";
}

.icon-delete-fill:before {
  content: "\e863";
}

.icon-experiment-fill:before {
  content: "\e869";
}

.icon-phone-fill:before {
  content: "\e86d";
}

.icon-pushpin-fill:before {
  content: "\e86e";
}

.icon-tags-fill:before {
  content: "\e86f";
}

.icon-mail-fill:before {
  content: "\e870";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-dingwei:before {
  content: "\e8ae";
}

