@font-face {
  font-family: "iconfont"; /* Project id 3952687 */
  src: url('iconfont.woff2?t=1679308107738') format('woff2'),
       url('iconfont.woff?t=1679308107738') format('woff'),
       url('iconfont.ttf?t=1679308107738') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e7ed";
}

.icon-time-circle-fill:before {
  content: "\e848";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-image-fill:before {
  content: "\e860";
}

.icon-location-fill:before {
  content: "\e868";
}

.icon-like-fill:before {
  content: "\e86a";
}

.icon-star-fill:before {
  content: "\e86b";
}

.icon-edit-fill:before {
  content: "\e873";
}

.icon-camera-fill:before {
  content: "\e874";
}

.icon-USB-fill:before {
  content: "\e875";
}

.icon-bug-fill:before {
  content: "\e8e8";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-login:before {
  content: "\e8f0";
}

.icon-shengrix:before {
  content: "\e62e";
}

.icon-tag-fill:before {
  content: "\e872";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-close:before {
  content: "\e7fc";
}

.icon-question:before {
  content: "\e7fe";
}

.icon-delete-fill:before {
  content: "\e863";
}

.icon-experiment-fill:before {
  content: "\e869";
}

.icon-phone-fill:before {
  content: "\e86d";
}

.icon-pushpin-fill:before {
  content: "\e86e";
}

.icon-tags-fill:before {
  content: "\e86f";
}

.icon-mail-fill:before {
  content: "\e870";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-dingwei:before {
  content: "\e8ae";
}

